<%= form_with(model: comment, url: post_comment_path(@post, @comment)) do |form| %>
  <% if comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.text_area :contents, class:"form-control", rows: 5, placeholder:"comment this post..." %>
  </div>
  
  <div class="btn-group" role="group" style="float: right">
    <%= link_to "â¬…ï¸", post_path(@post), class:"btn btn-outline-secondary" %>
    <%= form.submit "ðŸ”¥", class:"btn btn-primary", style:"float: right" %>
  </div>
<% end %>