<%= form_with model: [ @post, @post.comments.build ] do |form| %>
  <p>
    <%= form.label :contents %><br>
    <%= form.text_field :contents %>
  </p>
  <p>
    <%= form.label :karma %><br>
    <%= form.text_area :karma %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>