<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br/><br/>
  <div class="mb-3">
    <%= form.text_area :title, rows: 2, class:"form-control", placeholder:"Title..." %>
  </div>

  <div class="mb-3">
    <%= form.text_area :contents, class:"form-control", rows: 16, placeholder:"contents..." %>
  </div>

  <div class="form-check form-switch" style="text-align: right; display: flex; justify-content: flex-end">
    <%= form.label :is_private, "ðŸ”’", class:"form-check-label", style:"z-index: 9999" %>
    <%= form.check_box :is_private, class:"form-check-input", role:"switch" %>
  </div>

  <div class="field form-group">
    <%= form.number_field :user_id, id: :post_user_id, class:"form-control", value: current_user.id, type: :hidden %>
  </div>

  <div class="btn-group" role="group" aria-label="Basic example">
    <%= link_to "â¬…ï¸", posts_path, class:"btn btn-outline-secondary" %>
    <%= form.submit "ðŸ”¥", class:"btn btn-primary"%>
  </div>
<% end %>
