<div id="<%= dom_id post %>" class="jumbotron jumbotron-fluid">
  <div class=container>
    <h1 class="display-4"><%= post.title %></h1>
    <% post.tags.each do |tag| %>
      <span class="badge text-bg-secondary"><%= tag.name %></span>
    <% end %>
    <br/>
    <div style="float: right"> 
      <span class="badge text-bg-primary" style="font-family: cursive">
        by
        <% if @user %>
          <%= link_to @user.nick, user_profile_url(@user) %>
        <% else %>
          deleted
        <% end %>
      </span>
    </div>
    <p class="lead" style="white-space: pre-line"><%= post.contents %></p>
  </div>
</div>